.icon-color{
    color: #6D91EE;
}
.title{
    color: #6D91EE;
    font-size: 64px;
    font-weight: 900;
}
mat-card{
    border-width: 1px !important;
    border-radius: 40px !important;
    border-color: #6D91EE !important;
   }

   mat-card-title  {
    color: #6D91EE;
   }

   mat-card-subtitle {
    color: #6D91EE;
   }

hr{
    border-width: 5px ;
    color: #6D91EE;
    

}


